html
{
    scroll-behavior: smooth;
    scroll-padding: 160px;
    /*Uso de fuente (font) personalizada para toda la pagina*/
    font-family: 'Montserrat',sans-serif;
}

/*prueba de cambios*/

.contenedor_general
{
    background-color: black;
}

body{
   margin: 0;
   padding: 0;

   color: white;
   /* background-image: url("space_demo.png"); */
   width: 100%;      
   }

header /*TODOS LOS HEADERS tendrán texto centrado y estaran centrados*/
{
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

#nav_bar
{   padding: 10px; 
   text-align: left;

    background-color: #000033;
    border: 2px solid #000066;
    border-radius: 2em;
    width: 100%; 
    /* height: 60px; */
    position: fixed;
    z-index: 100;
}

.nav_item
{   text-decoration: none;
   text-shadow: 3px 3px 5px black;
   display: inline-block;
   margin-left: 35px;
   border: 2px #6767B5 solid;
   width: max-content;
   border-radius: 2em;
   padding: 5px;
   background-color: #6767B5;
}

.nav_item:link
{
   color: white;
   display: inline-block;
   margin-left: 35px;
   border: 2px #6767B5 solid;
   width: 8%;
   text-align: center;
   font-size: 0.8vw;
   border-radius: 2em;
   padding: 5px;
   background-color: #6767B5;
}

.nav_item:visited
{
   color: white;
   text-decoration: none;
   text-shadow: 5px 5px 5px black;
   display: inline-block;
   margin-left: 35px;
   border: 2px #6767B5 solid;
   width: max-content;
   border-radius: 2em;
   padding: 8px;
   background-color: #6767B5;
}

.nav_item:hover
{
   color: white;
   display: inline-block;
   margin-left: 35px;
   border: #6887A9 2px solid;
   width: 2%;
   border-radius: 2em;
   padding: 5px;
   background-color: #8AB6E8;
}

.nav_item:active
{
   display: inline-block;
   margin-left: 35px;
   border:2px black solid;
   width: max-content;
   border-radius: 2em;
   padding: 5px;
   background-color: #330033;
}

div.a
{
   text-align: center;
}

#Seccion_1
{
   color: white;
   text-align: center;
   
   margin-left: auto;
   margin-right: auto;
   margin: 10px;
   border-radius: 2em;
}

.first_title_textbox
{
   border: 4px #330033 solid;
   border-radius: 2em;
   background-color: #190032;
   width: max-content;
   margin: 5px auto 15px auto;
}

.first_title
{
   margin: 5px auto 5px auto;
   padding: 5px;
   width: max-content;
   
   background-color: black;
   background: linear-gradient(#190033,#CC00CC, white);

   -webkit-text-fill-color: transparent;
   background-clip: text;

}

header.Hero
{
   /* background-image: url("space_demo.png"); */
   /* background-color: #7a1369; */
   align-items: center;
   text-align: center;
   padding-top: 50px;
}

.hero_textbox
{
   color:#BADBFF;
   border: solid #001933 5px; 
   border-radius: 2em;
   box-sizing: border-box;
   padding: 10px;
   margin-top: -40px; 
   width: 70%; /*Para no ocupar todo ancho del hero*/
   text-align: center;
   margin-left: auto;  /*Los margin left y right en auto son para que el cuadro*/
   margin-right: auto; /*quede centrado en el hero*/
   background-color: #002E62;

   
}

.proyects_header
{
color: white;
text-shadow: black;
background-color: #190032;
border: 3px solid #36006C;
margin-left: 20px;
margin-right: 20px;
border-radius: 2em;
}

.projects_container
{   
   background-color: red;
   border: 3px solid #001464;
   border-radius: 2em;
   margin: 4px;
   padding: 30px 0px 0px 0px;
   width: 90%;
   display: grid;
    /* Aqui en "grid-template-columns" se define el WIDTH del objeto a cuadricular 
    Here, on "grid-template-columns" it's defined the width of the object to be gridded
    */
   grid-template-columns: 20% 20% 20%;
   grid-column-gap: 8%;  

   justify-items: center;
   justify-content: center;

   text-align: center;
   align-content: center;

   margin-left: auto;
   margin-right: auto;
}


div.Proyectos2/*PLACEHOLDER: de cada proyecto*/
{
   color: white;/*Con la propiedad color cambiamos el color del texto */
   border: solid white;
   border-radius: 1em;
   background-color: #000033; /*#003366; #595A87 */
   margin-bottom: 5%;
   margin-top: 10%;
   padding: 10px 0px 15px 0px;

   position: relative;
}

div.Proyectos/*PLACEHOLDER: de cada proyecto*/
{
   color: white;/*Con la propiedad color cambiamos el color del texto */
   border:solid white;
   border-radius: 2em;
   background-color: #003366;
   margin-bottom: 5%;
   margin-top: 10%;
   padding: 10px 0px 15px 0px;

   position: relative;
}

@keyframes move1 
{
   from {top: 0px;}
   to {top: -30px;}        
}

@keyframes move2 
{
   from {top:-30px;}
   to {top: 0px;}        
}

h1.Project_title
{
   border: solid #99CCFF 2px;
   background-color: #99CCFF;
   text-shadow: 3px 3px 8px black;
   border-radius: 0.4em;
   font-size: 2vw;
   margin: 2%;
   margin-top: 10px;
}

h1.Project_title2
{
   border: solid #6600CC 2px;
   background-color: #330066;
   text-shadow: 3px 3px 8px black;
   border-radius: 0.4em;
   font-size: 2vw;
   margin: 2%;
   margin-top: 10px;
}

.rin_prueba
{
   content: url("rin_prueba2.png");
   width: 50%; /* Definir de acuerdo al ancho de la imagen */
   margin-top: 5%;
   border-radius: 2em; 
}

.proyect_description
{
   text-shadow: 3px 3px 8px black;
   margin: 2%;
   text-align: center;
   text-justify: auto;
   background-color: #001933;
   border: 2px white solid;
   border-radius: 0.4em;
   padding: 5px;
}

.proyect_description2
{
   text-shadow: 3px 3px 8px black;
   margin: 2%;
   text-align: center;
   text-justify: auto;
   background-color: #1161b6;
   border: 2px white solid;
   border-radius: 0.4em;
   padding: 5px;
}

.tech_description
{
   width: max-content;
   text-shadow: 3px 3px 8px black;
   margin: auto auto auto auto;
   text-align: center;
   text-justify: auto;
   background-color: #001933;
   border: 2px white solid;
   border-radius: 0.4em;
   padding: 5px;
}

.tech_description2
{
   width: max-content;
   text-shadow: 3px 3px 8px black;
   margin: auto;
   text-align: center;
   text-justify: auto;
   background-color: #1161b6;
   border: 2px white solid;
   border-radius: 0.4em;
   padding: 5px;
}

.Description_title
{
   color: #CCCCFF;
   text-shadow: 3px 3px 8px white;
   border-bottom: 5px transparent solid;
   width: max-content;
   margin: 10px auto 10px auto;
}

.Description_title2
{
   margin: 10px auto 10px auto;
   border-bottom: 5px #009999 solid;
   width: max-content;
}

            /*SECCION DE REDES SOCIALES(SOCIAL MEDIA)*/  

#socialmedia_generalcontainer
{
   background-color: #190032;
   border: 3px solid #36006C;
   border-radius: 2em;
   margin: 0px 20px 0px 20px;
}

#socialmedia_container
{
   
   display: grid;
   grid-template-columns: 20% 20% 20%;
   grid-column-gap: 3%;

   justify-content: center;
   justify-items: center;
   text-align: center;

   width: 80%;
   margin: 5px auto 20px auto;
}      

.div_socialmedia_placeholder
{
   margin-top: 20px;
}

           /*Cuadro de titulo del formulario*/

.form_title
{  
   display: flex;
   justify-content: center;
   width: 60%;
   height: 30%;
   /* border: 2px solid turquoise; */
   margin: auto auto auto auto;
}

.zinnia_form
{
   /* position: relative;
   left: 70%;
   bottom: 100px; */
   /* margin: auto auto auto auto; */
   margin-top: auto;
   margin-bottom: auto;
   width: 20%;
   height: 50%;
   content: url("zinnia_cartoon.png");
   /* border: aqua solid 2px; */
   /* margin: 0; */
}

.form_title_msg
{
   margin-top: auto;
   margin-bottom: auto;
   width: 40%;
   height: 50%;
   font-size: 2.5vh; 

   background-color: black;
   background: linear-gradient(#006666,#66FFFF);

   -webkit-text-fill-color: transparent;
   background-clip: text;
}


           /* VENTANA DE EMERGENCIA DEL FORMULARIO */

           /*La "emergent_box" es una caja de texto que aparece para agradecer por el 
           envio del formulario, FALTA MEJORAR UNOS APARTADOS
           */

.emergent_box
{
color: white;
background-color: #001933;
border: 2px solid white;
border-radius: 2em;
width: 40%;
min-height: 210px;
position: absolute;
left: 30%;
display: none;
padding: 0;
}

.gratefulness_box
{
/* border: aqua solid 2px;  */
margin: auto auto auto auto;
width: 100%;
min-height: 100px;
padding: 0;
}

.gratefulness_msg
{
font-size: 20px;
margin-top: 30px; 
}

.zinnia_thanks
{
color: black;
background-color: transparent;
/* border: coral solid 2px;  */
margin: auto auto auto auto;
width: 30%;
content: url("zinnia_sitting_2.png");

}

.button_sectionbox
{
height: 40px;
/* border: coral solid 2px; */
}

.close_button
{
width: 10%;
height: 30px;
margin: 5px auto 0px auto;

background-color: turquoise;
border: 2px solid black;
border-radius: 2em;
}

.close_button:hover
{
color: white;
background-color: rgb(33, 170, 175);
border: 2px solid black;
border-radius: 2em;
}

.close_button:active
{
color: white;
background-color: black;
border: 2px solid white;
border-radius: 2em;
}

            /* STILO DEL FORMULARIO (FORM STYLE)*/

.form_body
{
color: white;
padding: 20px;

border: 2px #00CCCC solid;
border-radius: 2em;
width: 80%;
margin: 20px auto 20px auto;
background-color: #1E1F24;
}

#formulario
{   /*Centrar el formulario*/
   margin: 0 auto;
   width: 35%;
   /*Esquema del formulario*/
   padding: 1em;
   border: 2px solid #CCC;
   border-radius: 1em;
   text-align: left;
   background-color: #660033;
}

ul
{
   list-style: none;
   padding: 0;
   margin: 0;
   /* border: 2px solid pink; */
}

form li
{
   margin-top: 0.5em;
   /* border: 2px solid turquoise; */
}

label
{/*Tamaño y alineación uniforme*/
   display: inline-flex;
   width: 140px;
   text-align: center;
   border: 2px solid #000;
   border-radius: 1em;
   padding: 5px;
   background-color: #001933;
   margin-right: 10px;
}

#mensaje
{
   width: 250px;
   margin: 0;

   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

input,textarea
{
   /*Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
   'cause las areas de texto tienen un tipo de letra monoespaciada*/
   font: 1em sans-serif;
   /*Tamaño uniforme del campo de texto*/
   width: 300px;
   box-sizing: border-box;
   /*Hacer coincidir los bordes del campo del formulario*/
   border: 1px solid #999;
}

input:focus, textarea:focus
{
   /*Destacado adicional para elementos que tienen el cursor*/
   border-color: #000;
}

textarea
{
   /*Alinear los campos de textto multilinea con sus etiquetas*/
   vertical-align: top;
   height: 5em;
}

.button
{
   /*Alinear los botonos con el campo de texto*/
   /*padding-left: 140px;/*El mismo tamaño que los elementos de la etiqueta*/
   text-align: center;
   /*margin-top: 10px;*/
}

/*button
{
   /*Este margen adicional representa aproximadamente el mismo espacio que el que tienen
   las etiquetas y sus campos de texto*/
   /*margin-left: .5em;
}*/

/*FOOTER PLACE: AQUI VA EL CODIGO CSS DEL PIE DE PAGINA*/
.footer
{
   text-align: center;
   margin: 10px auto 10px auto;
   width: 70%;

   border: 1px white solid;
   border-radius: 2em;
}

/* APARTADO PARA UN RESPONSIVE EN MOBILE */

@media screen and (max-width: 500px) 
{

    /*Seccion para la barra de navegacion*/

    #nav_bar
    {
        /* background-color: #00CCCC; */
        text-align: center;
        margin: auto;
        border-radius: 0;
        box-sizing: border-box;
        width: 99.9%;
        padding: 10px 0px 10px 0px;
    }

    .nav_item
    {
        background-color: #330033;
        font-size: 50px;
    }

    .nav_item:link
    {
        background-color: #6767B5;
        font-size: 9px;
        width: 18%;
        margin: 5px;
    }

    .nav_item:visited
    {
        background-color: #330033;
        font-size: 50px;
    }

    .nav_item:hover
    {
        background-color: #8AB6E8;
        font-size: 9px;
        width: 18%;
        margin: 5px;
    }

    .contenedor_general
    {
        background-color: rgb(32, 29, 29);
    }

    .hero_textbox
    {
        margin-top: -50px;
        font-size: 20px;
    }

    /*Seccion de los placeholders de los proyectos*/

    .projects_container
    {
        display: block;
        height: 4450px;
        box-sizing: border-box;
    }

    div.Proyectos
    {
        background-color: #003366;
        width: 85%;
        margin: 5% auto 10%;
        box-sizing: border-box;
    }

    div.Proyectos2
    {
        background-color: #000033;
        width: 85%;
        margin: 5% auto 10%;
        box-sizing: border-box;
    }

    h1.Project_title
    {
        border: solid #4a19fd 2px;
        background-color: #150047;
        text-shadow: 3px 3px 8px black;
        border-radius: 0.4em;
        font-size: 20px;
        margin: 2%;
        margin-top: 10px;
    }

    .rin_prueba
    {
        content: url("rin_prueba2.png");
        width: 25%; /* Definir de acuerdo al ancho de la imagen */
        margin-top: 5%;
        border-radius: 1em; 
    }

    .proyect_description
    {
        width: 90%;
        font-size: 15px;
    }

}